/*==========================================================================================================*/
/* HEADER     ||---------------------------- */
/*==========================================================================================================*/

/*------------------------------------------------------------------*/
/* Header Style */
/*------------------------------------------------------------------*/
.header__for__pages {

    background-color: white;
    max-width: 90%;
    margin: 0 auto;
    height: 139px;
    color: #fff;
    width: 100%;

    transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    -o-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    -moz-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
}

.headermyforpages {
    position: relative;
    text-align: center;
    z-index: 1000;
    color: #fff;
    width: 100%;
    padding: 0 5%;
    margin: 0 auto;
    transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    -o-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    -moz-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
}

.header__for__pages.header-prepare, .header__for__pages.header-light.header-prepare {
    background-color: rgba(25, 40, 47, 0.95);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);

}

.headermyforpages.header-prepare, .header__for__pages.header-light.header-prepare {
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);

}

.header__for__pages.header-dark.header-prepare {
    background-color: rgba(54, 54, 54, 0.95);
    border-bottom: 0px none;
}

.headermyforpages.header-dark.header-prepare {
    background-color: rgba(54, 54, 54, 0.95);
    border-bottom: 0px none;
}


.header__for__pages.header-fixed {
    display: block;
    margin-top: 0 !important;
    position: fixed;
    height: 64px;

}

.headermyforpages.header-fixed {
    display: block;
    margin-top: 0 !important;
    position: fixed;
    height: 64px;

}


.header-fixed {
    color: #000;
}

.header-inner {
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
}

.header-fixed .headerlogo {
    width: 140px;
    margin-top: 10px;
    /*margin-bottom: 15px;*/
    transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    -o-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    -moz-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
}

.header-fixed .nav-menu ul.nav-menu-inner > li > a {
    padding-top: 26px;
    padding-bottom: 26px;
}

/*header Logo style*/
.header__for__pages.header-prepare .logo a img.logo-light,
.header__for__pages .logo a img.logo-dark {
    opacity: 0;
}

.header__for__pages .logo a img.logo-light,
.header__for__pages.header-prepare .logo a img.logo-dark,
.header__for__pages.header-light .logo a img.logo-dark {
    opacity: 1;
}

.header__for__pages.header-dark.header-prepare .logo a img.logo-dark,
.header__for__pages.header-dark .logo a img.logo-dark {
    opacity: 0;
}

.header__for__pages.header-dark.header-prepare .logo a img.logo-light,
.header__for__pages.header-dark .logo a img.logo-light {
    opacity: 1;
}

@media all and (min-width: 1025px) {

    /*header nav style*/
    .header__for__pages.header-prepare .nav-menu ul.nav-menu-inner > li > a {
        color: #323232;
    }

    .header__for__pages.header-prepare .nav-menu ul.nav-menu-inner > li:hover > a,
    .header__for__pages.header-prepare .nav-menu ul.nav-menu-inner > li > a:hover {
        color: #e6ae49;
    }

    .header__for__pages.header-dark.header-prepare .nav-menu ul.nav-menu-inner > li > a {
        color: #fff;
    }

    .header__for__pages.header-dark.header-prepare .nav-menu ul.nav-menu-inner > li:hover > a,
    .header__for__pages.header-dark.header-prepare .nav-menu ul.nav-menu-inner > li > a:hover {
        color: #e6ae49;
    }
}

@media all and (max-width: 1024px) {
    .header__for__pages {
        height: 64px;
    }

    .header-inner {
        padding-left: 30px;
        padding-right: 30px;
        position: relative;
        display: table;
        width: 100%;
    }

    .header__for__pages .logo a {
        margin-top: 24px;
        margin-bottom: 24px;
        width: 96px;
        transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
    }
}


@media (min-width: 0px) and (max-width: 599px) {

    .my-menu {
        display: none
    }

    .iconion {
        width: 40px;
        cursor: pointer;
        position: relative;
        margin-top: 10px;
    }

    .header__for__pages {
        padding-top: 0px;
    }
    .headerlogo {
        margin-top:10px;
        width: 140px;
        height: auto;
    }
}

@media (min-width: 600px) and (max-width: 959px) {
    .my-menu {
        display: none
    }

    .iconion {
        width: 40px;
        cursor: pointer;
        position: relative;
        margin-top: 10px;

    }

    .header__for__pages {
        padding-top: 0px;
    }
    .headerlogo {
        margin-top:10px;
        width: 140px;
        height: auto;
    }
}

@media (min-width: 960px) and (max-width: 1279px) {
    .my-menu {
        display: none
    }

    .iconion {
        width: 40px;
        cursor: pointer;
        margin-top:15px;

    }

    .header__for__pages {
        padding-top: 5px;
    }
    .headerlogo {
        margin-top:7px;
        width: 168px;
        height: auto;
    }
}

@media (min-width: 1280px) {
    .iconion {
        display: none
    }

    .header__for__pages {
        padding-top: 27px;
    }
    .headerlogo {
        width: 198px;
        height: auto;
    }
}

.modalmenuEnable {
    width: 100%;
    height: 1000vh;
    position: absolute;
    background: linear-gradient(135deg, #141d26 0%, #284c4c 100%);
    display: block;
    zIndex: 3000000 !important;
    top: 0;
    left: 0;
    transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    -o-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    -moz-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
}

.modalmenuDisable {
    visibility: hidden;
    transition: .55s opacity, .55s visibility;
}

.closeicon {
    width: 40px;
    Right: 100%;
    cursor: pointer;
    marginLeft: 50%;
    marginTop: 10px;

}

