@font-face {
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: bold;
    src: url('../../Fonts/CenturyGothic.woff') format('woff');
}

@font-face {
    font-family: 'HelveticaNeueCyr-Roman';
    font-style: normal;
    src: url('../../Fonts/HelveticaNeueCyr-Roman.woff') format('woff');
}


.container {
    width: 100%;
    max-width: 1450px;
    margin: 0 auto;
    display: grid;
    height: 100vh;
    padding: 70px 0 30% 0;
    grid-row-gap: 25px;
}


.container__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 'o k';
    justify-content: space-evenly;
    grid-column-gap: 100px;
    padding: 0 60px;


}

.block4__title {
    font-family: 'Century Gothic';
    color: #fff;
    font-size: 130px;
    line-height: 80px;
    text-align: center;
}

.block4__span {
    color: #30bb97;
}

.item__o {
    grid-area: o;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;


}

.item__k {
    grid-area: k;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}


.item__d1 {
    grid-area: d1;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;


}


.text__text {
    font-size: 19px;
    color: #829da7;
    font-family: 'HelveticaNeueCyr-Roman';
}

.block6__header {
    font-family: 'Century Gothic';
    font-size: 16px;
    font-weight: bold;
    color: #30BB97;
}


.block4__button {
    text-decoration: none;
    text-align: left;
    padding: 21px 30px;
    border: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    font-family: 'Century Gothic';
    font-size: 21px;
    font-weight: bold;
    color: #fff;
    background-image: url("../../Assets/readmore.png");
    background-repeat: no-repeat;
    background-position: left 0% top 50%, 0 0;
    background-size: 20px auto, 100%;
    cursor: pointer;

}

.block6__button:hover {
    color: #30bb97
}

.block__button__button {
    text-decoration: none;
    text-align: left;
    padding: 21px 0;
    border: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    font-family: 'Century Gothic';
    font-size: 21px;
    font-weight: bold;
    color: #fff;
    background-image: url("../../Assets/rows-green.png");
    background-repeat: no-repeat;
    background-position: right 75% top 50%, 0 0;
    background-size: 13px auto, 100%;
    cursor: pointer;

}


.block6__button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-family: 'Century Gothic';
    font-size: 21px;
    color: #fff;
    text-decoration: none;
    margin-top: 80px;
    cursor: pointer;
}

.block6__button:after {
    content: "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 -4px -6px 4px;
    position: relative;
    top: 0px;
    left: 25px;
    background: url("../../Assets/readmore.png") no-repeat left center transparent;
    background-size: 100% 50%;
}


