@font-face {
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: bold;
    src: url('../../Fonts/CenturyGothic.woff') format('woff');
}

@font-face {
    font-family: 'HelveticaNeueCyr-Roman';
    font-style: normal;
    src: url('../../Fonts/HelveticaNeueCyr-Roman.woff') format('woff');
}





.block1__title {
    font-family: 'Century Gothic';
    color: white;
    font-size: 60px;
    line-height: 80px;
}